LOCATE COMP "CLK" SITE "A10";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[0]" SITE "A13";
LOCATE COMP "LED[1]" SITE "A12";
LOCATE COMP "LED[2]" SITE "B19";
LOCATE COMP "LED[3]" SITE "A18";
LOCATE COMP "LED[4]" SITE "B18";
LOCATE COMP "LED[5]" SITE "C17";
LOCATE COMP "LED[6]" SITE "A17";
LOCATE COMP "LED[7]" SITE "B17";
