###################################################################################################
#  DIGIR BPM FPGA CONSTRAINTS FILE
#
#  DEVICE:  LFE5UM5G-85F
#  PACKAGE: CABGA381
###################################################################################################

# This file is for testing only, and the pin assignments here do not correspond
# to real pin assignments for the device.

###################################################################################################
#  CHANGE LOG
###################################################################################################

# 7/26/26  Edward Speer  Initial revision

###################################################################################################
#  Reset
###################################################################################################

LOCATE COMP "reset" SITE "P4";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;


###################################################################################################
#  Clock and timing inputs
###################################################################################################

LOCATE COMP "pps" SITE "P3";
IOBUF PORT "pps" IO_TYPE=LVCMOS33;

LOCATE COMP "ref_clk" SITE "A10";
IOBUF PORT "ref_clk" IO_TYPE=LVCMOS33;


###################################################################################################
#  Timing outputs
###################################################################################################

LOCATE COMP "lock" SITE "H2";
IOBUF PORT "lock" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[0]" SITE "G1";
IOBUF PORT "filtered_abs_phase_err[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[1]" SITE "J4";
IOBUF PORT "filtered_abs_phase_err[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[2]" SITE "J5";
IOBUF PORT "filtered_abs_phase_err[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[3]" SITE "J3";
IOBUF PORT "filtered_abs_phase_err[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[4]" SITE "K3";
IOBUF PORT "filtered_abs_phase_err[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[5]" SITE "L4";
IOBUF PORT "filtered_abs_phase_err[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[6]" SITE "L5";
IOBUF PORT "filtered_abs_phase_err[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[7]" SITE "M4";
IOBUF PORT "filtered_abs_phase_err[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[8]" SITE "N5";
IOBUF PORT "filtered_abs_phase_err[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[9]" SITE "N4";
IOBUF PORT "filtered_abs_phase_err[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[10]" SITE "P5";
IOBUF PORT "filtered_abs_phase_err[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[11]" SITE "N3";
IOBUF PORT "filtered_abs_phase_err[11]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[12]" SITE "M3";
IOBUF PORT "filtered_abs_phase_err[12]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[13]" SITE "K5";
IOBUF PORT "filtered_abs_phase_err[13]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[14]" SITE "M5";
IOBUF PORT "filtered_abs_phase_err[14]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[15]" SITE "L3";
IOBUF PORT "filtered_abs_phase_err[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[16]" SITE "N2";
IOBUF PORT "filtered_abs_phase_err[16]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[17]" SITE "M1";
IOBUF PORT "filtered_abs_phase_err[17]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[18]" SITE "L2";
IOBUF PORT "filtered_abs_phase_err[18]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[19]" SITE "L1";
IOBUF PORT "filtered_abs_phase_err[19]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[20]" SITE "N1";
IOBUF PORT "filtered_abs_phase_err[20]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[21]" SITE "P1";
IOBUF PORT "filtered_abs_phase_err[21]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[22]" SITE "K4";
IOBUF PORT "filtered_abs_phase_err[22]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[23]" SITE "A9";
IOBUF PORT "filtered_abs_phase_err[23]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[24]" SITE "B10";
IOBUF PORT "filtered_abs_phase_err[24]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[25]" SITE "A11";
IOBUF PORT "filtered_abs_phase_err[25]" IO_TYPE=LVCMOS33;

LOCATE COMP "filtered_abs_phase_err[26]" SITE "T17";
IOBUF PORT "filtered_abs_phase_err[26]" IO_TYPE=LVCMOS33;


###################################################################################################
#  MCU SPI interface
###################################################################################################

LOCATE COMP "mcu_spi_sclk" SITE "P2";
IOBUF PORT "mcu_spi_sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "mcu_spi_cs" SITE "E7";
IOBUF PORT "mcu_spi_cs" IO_TYPE=LVCMOS33;

LOCATE COMP "mcu_spi_mosi" SITE "K2";
IOBUF PORT "mcu_spi_mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "mcu_spi_miso" SITE "F1";
IOBUF PORT "mcu_spi_miso" IO_TYPE=LVCMOS33;


###################################################################################################
#  MCU IRQ
###################################################################################################

LOCATE COMP "mcu_irq" SITE "U16";
IOBUF PORT "mcu_irq" IO_TYPE=LVCMOS33;


###################################################################################################
#  RF sample interface
###################################################################################################

LOCATE COMP "sample_clk" SITE "U17";
IOBUF PORT "sample_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[0]" SITE "F19";
IOBUF PORT "sample_out[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[1]" SITE "F20";
IOBUF PORT "sample_out[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[2]" SITE "E20";
IOBUF PORT "sample_out[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[3]" SITE "E19";
IOBUF PORT "sample_out[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[4]" SITE "D19";
IOBUF PORT "sample_out[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[5]" SITE "D20";
IOBUF PORT "sample_out[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[6]" SITE "C20";
IOBUF PORT "sample_out[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[7]" SITE "P18";
IOBUF PORT "sample_out[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[8]" SITE "N20";
IOBUF PORT "sample_out[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[9]" SITE "N19";
IOBUF PORT "sample_out[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[10]" SITE "T16";
IOBUF PORT "sample_out[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[11]" SITE "M18";
IOBUF PORT "sample_out[11]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[12]" SITE "N17";
IOBUF PORT "sample_out[12]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[13]" SITE "P17";
IOBUF PORT "sample_out[13]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[14]" SITE "M17";
IOBUF PORT "sample_out[14]" IO_TYPE=LVCMOS33;

LOCATE COMP "sample_out[15]" SITE "U20";
IOBUF PORT "sample_out[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "out_valid" SITE "T19";
IOBUF PORT "out_valid" IO_TYPE=LVCMOS33;
